[data-theme='light'] td a,
[data-theme='light'] .breadcrumbs a,
[data-theme='light'] .widget a {
    color: rgb(60, 120, 172);
}

[data-theme='light'] td a:hover,
[data-theme='light'] .breadcrumbs a:hover,
[data-theme='light'] .widget a:hover {
    color: rgb(11, 57, 98);
}

[data-theme='dark'] td a,
[data-theme='dark'] .breadcrumbs a,
[data-theme='dark'] .widget a {
    color: rgb(155, 195, 232);
}

[data-theme='dark'] td a:hover,
[data-theme='dark'] .breadcrumbs a:hover,
[data-theme='dark'] .widget a:hover {
    color: rgb(79, 159, 228);
}

[data-theme='light'] .feed-widget-item {
    background-color: #52EDC8;
}
[data-theme='dark'] .feed-widget-item {
    background-color: #2C7A7B;
}

[data-theme='light'] .copy-button {
    color: #4A5568;
}
[data-theme='dark'] .copy-button {
    color: #CBD5E0;
}

[data-theme='light'] .search-results {
    background-color: #BEE3F8;
}
[data-theme='light'] .search-results a:hover {
    background-color: #90CDF4;
}

[data-theme='dark'] .search-results {
    background-color: #2C5282;
}
[data-theme='dark'] .search-results a:hover {
    background-color: #2B6CB0;
}

@font-face {
    font-family: "Neue";
    src: url('../../public/assets/TT_Firs_Neue_Regular.ttf');
}

.ddx-logo {
    font-family: 'Neue';
    font-size: 2.6rem;
}